SEARCH_CONFIG_PATH=config/yaml/search_config.yaml
LLM_CONFIG_PATH=config/yaml/ollama_config.yaml
SQL_CONFIG_PATH=config/yaml/sql_config.yaml
TOOL_CONFIG_PATH=config/yaml/tool_config.yaml
RETRIEVAL_DATA_PATH=retrieval_data
RETRIEVAL_STORAGE_PATH=retrieval_storage
MODEL_PATH=models

CHAINLIT_AUTH_SECRET="8vw,_SphkplSkRn_HjN9tnKaQ%5,s7_N%XSWdl22UrBnI7/e7_0o%S1a~E*%n8lW"
CHAINLIT_PORT=9000
API_PORT=9001
FUNCTION_CALL_API_PORT=9002
CONDA_ENVIRONMENT="agent_chainlit"
CONDA_ENV_PATH="/work/soft/anaconda3"

API_PREFIX=https://ai.shunxikj.com
SQL_API_PREFIX=$API_PREFIX:$API_PORT
FUNCTION_CALL_API_PREFIX=$API_PREFIX:$FUNCTION_CALL_API_PORT